@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  scr: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: boreder-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  flex-grow: 1;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========= header ========== */

.user-menu {
  display: flex;
}

.search-form-group {
  border-radius: 20px;
  width: 517px;
}

.user-menu-container {
  display: flex;
  width: 1040px;
  justify-content: space-between;
  align-items: center;
}

.user-login {
  list-style: none;
  display: flex;
  gap: 12px;
}

.user-menu-search {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  list-style: none;
}

.user-navigation {
display: flex;
}

.shop-navigation {
  display: flex;
  list-style: none;
}


.main-menu {
display: flex;

}


.menu-product-catalog {
  display: flex;
  margin-right: 276px;
}

.menu-services {
  display: flex;
  list-style: none;
  gap: 45px;
}
/* ========= END header-index ========== */


/* ======== main ============ */
.promotion {
  display: flex;
  width: 560px;
  height: 401px;

}
.image-container {
  display: block;
  display: flex;
  width: 560px;
  height: 560px;
}
.image-container {
display: flex;
align-items: center;
}
.slider{
  width: 20px;
  height: 60px;

}
.promotion-title {
  display: block;
  width: 545px;
  height: 100px;
}
.promotion-text {
  width: 560px;
  height: 60px;
}
.promo-indicators {


}

.indicator-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;


}
/* ======== product-categories ====  */

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-template-rows: repeat(3, 253px);
  gap: 40px;
  list-style: none;
}

.category-item-container {
  width: 160px;
  height: 253px;
}

/* ========END product-categories ====  */


}

/* ========= delivery ======== */

.delivery-box {
  display: flex;
}

.delivery-properties {
  list-style: none;

}



/* ============ END delivery ====== */







/* ============== catalog =========== */

.menu-services-item:focus-within .subcatalog {
    display: block;
  }

  .menu-product-subcatalog {
    display: none
  }
